.content {
    margin-top: 100px;
    margin-right: 170px;
    margin-left: 170px;
    margin-bottom: 50px;
}

.sect1_AboutUs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_sect1 {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}

.subtitle_sect1 {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.logo_sect1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
}

.logo_sect1_plus {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #808080;
}

.sect2_AboutUs {
    background: #F3F3F3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 170px;
    padding-right: 170px;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 350px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.card p {
    width: 50%;
}

.sect3_AboutUs {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 170px;
    margin-right: 170px;
    background: #FFFFFF;
}

.sect4_AboutUs {
    background: #F3F3F3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 170px;
    padding-right: 170px;
}

.cotnact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact_title {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}

.link {
    display: flex;
    justify-content: space-evenly;
}

.contact a{
    text-decoration: none;
    color: black;
}